<h2>These projects need your funding</h2>

<div class="project-list" *ngFor="let project of projects | async">
<img src={{project.image}}>
  <h3 (click)="goToDetailPage(project)">{{project.name}}</h3>
  <h4>{{project.description}}</h4>
  <h4>{{project.amount}}</h4>
  <div *ngIf="currentRoute ==='/admin'">
    {{project.contact}}<br>
    {{project.purpose}}<br>
    {{project.reward}}<br>
    {{project.type}}<br>
    <hr>
    <app-edit-project [selectedProject]="project"></app-edit-project>
    <hr>
  </div>
</div>
